<!DOCTYPE html>
<html>
    <head>
    <link rel="shortcut icon" href="img/LOGO.png" />
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
        <script type="text/javascript" src="bootstrap/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css" type="text/css">  
        <link rel="stylesheet" href="css/style2.css" type="text/css">  
    </head>


   <body background>
        <div>
            <%- include ('header') %>
            <br><br><br>

<div id="content">   
    
    <form  method="post" action="login/auth">
    <p id="headerform">Login</p>
    <p class="lines"></p>

        <div class="input-group">
            <label id="space" for="username">Username :</label>
            <input type="username" name="username" placeholder="ชื่อผู้ใช้">
        </div>
        <div class="input-group">
            <label id="space" for="password">Password :</label>
            <input type="password" name="password" placeholder="รหัสผ่าน">
        </div>
        <div class="input-group">
            <button type="submit" name="login" class="btn btn-success">Login</button>
        </div>
        <p id="space" >Not yet a member? <a id="signin" href="/register">Sign Up</a></p>


        <footer class="footer">
            <div class="container">

                <center> 
                </center>
            </div>
        </footer>
        </div>
    </body>
</html>
